<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Add new post' }) %>
  <link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>게시물 추가하기 </h1>
    <form action="/posts" method="POST">
      <div class="form-control">
        <label for="title">제목</label>
        <input type="text" id="title" name="title" required>
      </div>
      <div class="form-control">
        <label for="summary">요약</label>
        <input type="text" id="summary" name="summary" required maxlength="255">
      </div>
      <div class="form-control">
        <label for="content">게시물 내용</label>
        <textarea id="content" name="content" required rows="5"></textarea>
      </div>
      <div class="form-control">
        <label for="author">작성자 선택</label>
        <select id="author" name="author">
          <% for (const author of authors) { %>
            <option value="<%= author.id %>"><%= author.name %></option>
          <% } %>
        </select>
      </div>
      <button class="btn">게시물 추가</button>
    </form>
  </main>
</body>

</html>